<!DOCTYPE html>
<html lang="en">
<head>
  <title>EVAHA.org</title>
  <link rel="shortcut icon" href="assets//images/EVAHA_LOGO.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Add CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  
</head>
<body >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">EVAHA.org</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="index.html">Home</a></li>
        <li ><a href="horse_show_dates.html">Location & Dates</a></li>
        <li ><a href="classlist.html">Class List</a></li>
        <li><a href="entryforms.html">Forms</a></li>
        <li class="active"><a href="rules.html">Rules & Regulations</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
     
    </div>
  </div>
</nav>
  
<div class="Website_Header">
        <img src="./assets/images/EVAHA_LOGO.png" alt="Italian Trulli" id="EVAHA_LOGO">


        <h3 id="title_text">East Valley Arabian Horse Association</h3>
        
</div>

<div class="container ">

<h2>Rules and Regulations</h2>
<ol class="rules_text">
        <li><b><u>NOVICE HORSE AND/OR RIDER:</u></b> Horse or rider cannot have won more than 3 blue ribbons in that division in any show.</li>
        <li><b><u>LEADLINE EXHIBITORS:</u></b> All leadline exhibitors are required to wear helmets while mounted on a horse and while showing in the leadline class</li>
        <li><b><u>DRESS:</u></b> Appropriate hats, boots and attire must be worn in all performance classes.</li>
        <li> Safety helmets are acceptable to be worn by Juniors & Adults in all classes.  During warm weather, jackets may be excused at the discretion of the judge.</li>
        <li><b><u>SCHOOLING HORSES:</u></b> Martingales, draw reins, splint boots, leg wraps, etc.
            will only be permitted on schooling horses. Schooling exhibitor must wear appropriate attire.</li>
        <li><b><u>ENTRIES: NO REFUNDS</u></b> Post Entries may be made at the gate if an “open
            check” is left at the registration desk. Classes with less than 3 entries may be
            combined at the discretion of the show committee.</li>
        <li><b><u>MISC:</u></b> Schooling horses must follow the directions of the judge during the
            class.</li>
        <li><b><u>PHOTOGRAPHS:</u></b> All photos taken by any EVAHA officer or photographers
            can and may be used for promotional purposes for the club.</li>
        <li><b><u>AWARDS:</u></b> Ribbons will be awarded through 5th place in each class. 1st and
            2nd place halter horses must be shown in the championship class or forfeit all
            ribbons and points.</li>
        <li><b><u>SPONSORSHIPS:</u></b> $10.00 for all classes.</li>
        <li><b><u>RULES:</u></b> Are subject to change at the discretion of the show committee. All
            classes will be run by the USEF rules.</li>
        <li><b><u>CONCESSIONS:</u></b> Available on the grounds - NO alcoholic beverages are permitted. </li>
        <li><b><u>HIGH POINTS:</u></b> High point awards will be determined by the show committee.</li>
      
     </ol>



</div>


<!-- My Javascript -->

<script src="assets/javascript/animatepictures1.js"></script>
<script src="assets/javascript/animatepictures2.js"></script>
<script src="assets/javascript/animatepictures3.js"></script>


</body>
</html>
